[package]
name = "uniswap-v3-sdk"
version = "0.34.0"
edition = "2021"
authors = ["Shuhui Luo <twitter.com/aureliano_law>"]
description = "Uniswap V3 SDK for Rust"
license = "MIT"
readme = "README.md"
repository = "https://github.com/shuhuiluo/uniswap-v3-sdk-rs"
keywords = ["uniswap-v3", "ethereum", "sdk"]
exclude = [".github", ".gitignore", "rustfmt.toml"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
alloy-primitives = "0.8"
alloy-sol-types = "0.8"
anyhow = "1.0"
base64 = { version = "0.22", optional = true }
bigdecimal = "0.4.5"
ethers-core = "2.0"
num-bigint = "0.4"
num-integer = "0.1"
num-traits = "0.2"
once_cell = "1.19"
regex = { version = "1.10", optional = true }
rustc-hash = "2.0"
serde_json = { version = "1.0", optional = true }
thiserror = { version = "1.0", optional = true }
#uniswap-lens = "0.2"
uniswap-sdk-core = { version = "1.1.0", features = ["std"] }

[features]
default = ["std"]
extensions = ["base64", "regex", "serde_json"]
std = ["thiserror", "uniswap-sdk-core/std"]

[dev-dependencies]
criterion = "0.5.1"
dotenv = "0.15.0"
ethers = "2.0"
tokio = { version = "1.37", features = ["full"] }
uniswap_v3_math = "0.5.1"

[[bench]]
name = "bit_math"
harness = false

[[bench]]
name = "sqrt_price_math"
harness = false

[[bench]]
name = "swap_math"
harness = false

[[bench]]
name = "tick_math"
harness = false
